</br>
</br>
<div class="jumbotron">
    <center><h2>Thank You For Trying My <span style="color: dodgerblue"><i>Buy A Motorcycle Project</i></span>.</h2>
    <p>In this project I wrote the client-side with Angular.js, and the server-side with Node.js. </p>

        <p><a class="btn btn-primary" href="https://moshiko-ohana.herokuapp.com/#/projects" role="button">Try Another Project</a></p>
        <img src="http://www.freeiconspng.com/uploads/plant-icons-free-plant-icon-download-iconhotm-25.png" alt="Shubby Dubby" style="width:200px;height:200px;"></center>
</div>
