</br>
</br>


<div id="image-head" class="image-head">
    <div class="centering-hack"></div>
</div>

</br>

<div id="standByAddingAlert"></div>
<div id="addingSuccessAlert"></div>
<div id="addingFailAlert"></div>
</br>

    <motorcycle-item  ng-repeat="motorcycle in clientArrayMotors" id="motorcycle.motorcycleId" motorcycle-type="motorcycle.Type"
              motorcycle-price="motorcycle.Price" motorcycle-img="motorcycle.Img" add-to-cart="addMotorToCart(id)"></motorcycle-item>

</br>













